html, body {
  height: 100%;
  width: 100%;
}
.navbar {
  border: 0;
}
@media(min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
.navbar-default {
  background-color: #B69A75 !important;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}

.brandFont {
  color: white !important;
  font-family: 'Rye', cursive !important;
  text-shadow: 0 0 1px #000;
}
.category {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.sectionText {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#introText{
  font-family: 'Rye', cursive;
  color: black;
  text-shadow: 0 0 3px white; 
}
#introText h1 {
  font-size: 50px;
}

#intro {
  background: url("https://pixabay.com/static/uploads/photo/2015/06/08/15/11/typewriter-801921_960_720.jpg") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -25px;
}
#socialMedia l > a.button {
  margin: 100px 20px 0 ;
}
#socialMedia a:link {
  text-decoration: none;
}
#socialMedia a.button:hover {
  color: white;
  border: 3px solid #586F65;
  text-shadow: #01090a 0 1px 0;
  background: #B69A75;
}

#socialMedia a.button {
  color: white;
  border: 3px solid #B69A75;
  border-radius: 50%;
  padding: 10px;
  background-color: #586F65;
  font-family: 'Rye', cursive;
  text-shadow: 0 0 5px black;
}
#socialMedia{
  margin-top: 50px;
}
#aboutText h2{
  font-family: 'Playfair Display SC', serif;
  
}
#aboutText p.lead {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
}
#aboutText p {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
#about {
  padding: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+18,b68d4c+61,b68d4c+78,b68d4c+78,e9d4b3+100 */
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 18%, rgba(182,141,76,1) 61%, rgba(182,141,76,1) 78%, rgba(182,141,76,1) 78%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 18%,rgba(182,141,76,1) 61%,rgba(182,141,76,1) 78%,rgba(182,141,76,1) 78%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 18%,rgba(182,141,76,1) 61%,rgba(182,141,76,1) 78%,rgba(182,141,76,1) 78%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#about img{
  height: 300px;
  width: cover;
  padding: 10px 0 0 0;
}

#portfolio {
  background: url("https://www.dropbox.com/s/ydza7fwhjmc29il/heart-700141_1280.jpg?raw=1") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#portfolio h2 {
  color: white;
  font-family: 'Playfair Display SC', serif;
}
#background {
  background: rgba(50,115,88,.7);
  margin-top: 100px;
  padding-bottom: 75px;
}

span.rollover {
  opacity: 1;
  background: url("https://cdn3.iconfinder.com/data/icons/chess-2/512/640618-rook_chess_piece-128.png") center center no-repeat #000;
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
}

span.rollover:hover {
  opacity: .7;
}
a.thumbnail {
  background-color: rgba(89,226,226,0.0);
  padding: 0;
  border: none;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#contact {
  padding: 20px;
  background-color: #CFAE7B;
}
#contact h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: #05140A;
  text-shadow: 0 0 5px white;
}
#contact ul {
  list-style-type: none;
  
}
#contact li {
  margin-top: 50px;
  margin-left: -39px;
}
#contact a.button {
  background: #05140A;
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px; 
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  color: white;
}
#contact a:link {
  text-decoration: none;
}
#contact a.button:hover {
  color: black;
  border: 3px solid #05140A;
  text-shadow: #01090a 0 1px 0;
  background: white;
}
footer {
  background-color: #05140A;
  color: white;
  height: 75px;
  width: auto;
} 
#telephone {
  margin-top: 25px;
}
footer {
  padding: 20px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #586F65;
}
